@model Greenlight.ViewModels.ShoppingCartViewModel
@{ 
    ViewBag.Title = "Shopping Cart";
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
        $(".RemoveLink").click(function () {
            var recordToDelete = $(this).attr("data-id");
            if (recordToDelete != '') {
                $.post("/ShoppingCart/RemoveFromCart", { "id": recordToDelete },
                    function (data) {
                        if (data.ItemCount == 0) {
                            $('#row-' + data.DeleteId).fadeOut('slow');
                        } else {
                            $('#item-count-' + data.DeleteId).text(data.ItemCount);
                        }
                        $('#cart-total').text(data.CartTotal);
                        $('#update-message').text(data.Message);
                        $('#cart-status').text(data.CartCount);
                    });
            }
        });
    });
</script>

<h3><em>Review Your Cart:</em></h3>

<div id="update-message"></div>
@{
    if (Model.CartItems.Count > 0)
    {
        <table class="table table-condensed">
            <tr>
                <th>
                    Game Title
                </th>
                <th>
                    Price
                </th>
                <th></th>
            </tr>
            @foreach (var item in Model.CartItems)
            {
                <tr id="row-@item.GameID">
                    <td>
                        @Html.ActionLink(item.Game.Name, "Details", "Store", new { id = item.GameID }, null)
                    </td>
                    <td>
                        @item.Game.Price
                    </td>
                    <td>
                    </td>
                    <td>
                        <a href="#" class="RemoveLink" data-id="@item.GameID">Remove</a>
                    </td>
                </tr>
            }
            <tr>
                <td>
                    Total
                </td>
                <td></td>
                <td></td>
                <td id="cart-total">
                    @Model.CartTotal
                </td>
            </tr>
        </table>
        <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_xclick">
            <input type="hidden" name="business" value="dzanfox-facilitator@gmail.com">
            <input type="hidden" name="lc" value="US">
            <input type="hidden" name="item_name" value="Mowing">
            <input type="hidden" name="amount" value=@Html.DisplayFor(item => item.CartTotal)>
            <input type="hidden" name="currency_code" value="USD">
            <input type="hidden" name="button_subtype" value="services">
            <input type="hidden" name="bn" value="PP-BuyNowBF:btn_buynow_LG.gif:NonHosted">
            <input type="image" src="https://www.sandbox.paypal.com/en_US/i/btn/btn_buynow_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
            <img alt="" border="0" src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
            <input type="hidden" name="return" value="http://localhost:4889/Checkout/Complete">
            <input type="hidden" name="cbt" value="Return to Greenlight" src="http://localhost:4889/Checkout/Complete">
        </form>
    }
}
