@model int
@{
    ViewBag.Title = "Checkout Complete";
}

<h2>Checkout Complete</h2>
<p>Thanks for your purchase! Your order number is @Model</p>
<p>@Html.ActionLink("Back to Store", "Index", "Home")</p>
