@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h3>Sorry about that!</h3>
<p>
    We've hit an unexpected error!
    <a href="javascript:history.go(-1)">Click here</a> if you'd like to go back and try again!
</p>

