@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>
@{
    ViewBag.Title = "Index";
}

<h2>Available Roles</h2>
@Html.ActionLink("Create Role", "Create", "Role")
<table id="roleTable">
    <tr>
        <td>
            Role Name
        </td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Name
            </td>
        </tr>
    }
</table>
