@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img src="~/Images/original.jpg" alt="Steam Library"/>
</div>

<div class="row text-center">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <h1>
            Pi Sale! 
        </h1>
        <p>Enter the Promo Code "FreeTax" to have all Sales Tax waived for your order from 3/14 until 3/21!</p>
    </div>
</div>